body {
  background-image: linear-gradient(to bottom right, white, #5B7EA8);
}

.bannerImg {
  background-image: url("../images/header/craterlake.jpg");
  background-color: #cccccc;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.textBlock {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.7;
  text-align: center;
}

.card {
  border: none;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 10%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

a:link {
  text-decoration: none;
}

.hoverLink:hover .image {
  filter: brightness(50%);
}

.hoverLink:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.footer {
  background-color: black;
  opacity: 0.7;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

footer > h2 {
  text-align: center;
}

.icons {
  justify-content: space-around;
}

#gmail {
  background-image: url("../assets/images/gmail.png") no-repeat bottom;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  margin-right: 15px;
  display: block;
}

#github {
  background-image: url("../assets/images/gmail.png") no-repeat bottom;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

#linkedin {
  background-image: url("../assets/images/gmail.png") no-repeat bottom;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
